<launch>
    <arg name="bot_name" doc="Name of the Edubot this node will control">

    <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait move_bot" />
    <node pkg="differential_drive" type="keyboard_controller.py" name="keyboard_controller" ns="$(arg bot_name)"/>
</launch>