<launch>
    <arg name="port" default="/dev/ttyACM0"/>
    
    <node pkg="rosserial_arduino" type="serial_node.py" name="rosserial_arduino">
        <param name="port" type="string" value="$(arg port)"/>
    </node>

    <node name="diff_drive_node" pkg="differential_drive" type="diff_drive_node"/>

</launch>