<!-- Edubot launch file to be ran on -->

<launch>
    <!-- <arg name="arduino_port" default="/dev/arduino_mega"/> -->
    <arg name="with_lidar" default="true"/>
    <arg name="localization" default="none"/>
    <!-- arg('localization') == 'none' ==> localization Turned Off -->
    <!-- arg('localization') == 'dead' ==> Dead Reckoning -->
    
    <!-- Start the Core Hardware -->
    <node pkg="rosserial_arduino" type="serial_node.py" name="rosserial_node" args="port:=/dev/arduino_mega"/>
    <node pkg="differential_drive" type="diff_drive_node" name="diff_drive_node"/>
    <node pkg="rplidar_ros" type="rplidarNode" name="lidar_node" args="serial_port:=/dev/rplidar">
        <param name="frame_id" value="$(env ROS_NAMESPACE)/base_laser"/>
    </node>

    <!-- DEAD RECKONING -->
    <node name="dead_reckoning_node" pkg="dead_reckoning" type="dead_reckoning_node" if= "$(eval arg('localization') == 'dead')"/>

</launch>